<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/static/main.css" /> 
</head>
<div width="100%" height="100%" align="center">
	<div class="headerbg">
		<div class="header">
		</div>
	</div>
</div>
<h1>Login</h1>

<h2>The moose gets antsy around strangers.  Who are you?<br/></h2>

{% for msg in get_flashed_messages() %}
    <h3>{{ msg }} </h3>
{% endfor %}
<div class="choicebuttons">

<table>

<form action='/register' method='POST' id='myform'>
<tr>
  <td>Barcode</td>
  <td><input type='text' name='barcode' size=60></td>
</tr>

<tr>
  <td>Nickname (a-z, 0-9)</td>
  <td><input type='text' name='nick' size=60></td>
</tr>

<tr>
  <td><input type='submit'></td>
  <td>&nbsp;</td>
</tr>

</form>    
</table>

</body>
</html>
